#controls {
  width: 100px;
  padding:20px;
  background-color: #027e17;
  border-radius: 80px;
  
  
  
}

#controls i.playPauseBtn {
  font-size: 26px;
  color: #fff;
  cursor: pointer;
  
}

#controls i.playPauseBtn:hover {
  color: #cccccc;
}

#controls .fa-forward-step,
#controls .fa-backward-step {
  color: #fff;
  font-size: 26px;
  cursor: pointer;
 
}

#controls .fa-forward-step:hover,
#controls .fa-backward-step:hover {
  color: #fff;
}
