#controls {
  width: 100px;
  padding: 20px;
  background-color: #027e17;
  border-radius: 80px;
}


img {
  width: 500px;
}

#controls i.playPauseBtn {
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}

#controls i.playPauseBtn:hover {
  color: #cccccc;
}

#controls .fa-forward-step,
#controls .fa-backward-step {
  color: #fff;
  font-size: 26px;
  cursor: pointer;
}

#controls .fa-forward-step:hover,
#controls .fa-backward-step:hover {
  color: #fff;
}

#playlist {
  color: #000000;
  font-size: 16px;
}

#diapo {
  width: 90vw;
  overflow: hidden;
  position: relative;
}

#dessus {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.transi {
  transition: all 0.5s;
}

.moveright {
  transform: translateX(100%);
}

.moveleft {
  transform: translateX(100%);
}
